// comments/new.jst
<div class="form-inputs">
	<label for="new-comment-input">Add comment</label>
	<textarea id="new-comment-input" cols="30" rows="10"></textarea>
	<button>Add Comment</button>
</div>